<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title> Home - PinForrest</title>
    </head>

    <body>
        <header>
            <h1><a href='/'>PinForrest</a></h1>
        </header>
        <main>
            <h2>Latest Pins</h2>
        </main>
    </body>